:root {
	/* Colors */
	--box-color: rgba(24, 25, 27, 0.7);
	--sub-box-color: rgba(24, 25, 27, 0.85);
	--box-shadow-color: rgba(24, 25, 27, 0.65);
	--text-color: rgba(255, 255, 255, 0.75);
	--overlay: rgba(0, 0, 0, 0.55);
	--logo-color: rgba(255, 255, 255, 1);
	--logo-sub-color: rgba(0, 168, 255, 1);

	@media (prefers-color-scheme: light) {
		--box-color: rgba(255, 255, 255, 0.7);
		--sub-box-color: rgba(255, 255, 255, 0.85);
		--box-shadow-color: rgba(255, 255, 255, 0.65);
		--text-color: rgba(24, 25, 27, 0.75);
		--overlay: rgba(255, 255, 255, 0.55);
		--logo-color: rgba(55, 55, 60, 1);
		--logo-sub-color: rgba(0, 138, 225, 1);
	}
	--btn-text-color: rgba(255, 255, 255, 0.75);
	--ac-btn-color: rgba(78, 148, 255, 0.85);
	--ac-btn-shadow-color: rgba(76, 146, 255, 0.75);
	--ac-btn-color-l: rgba(76, 182, 255, 0.85);
	--ac-btn-shadow-color-l: rgba(76, 182, 255, 0.75);
}

body {
	background: linear-gradient(45deg, rgba(8, 112, 228, 1), rgba(79, 217, 136, 1)), url("/resource/back.webp") no-repeat center center fixed;
	background-size: cover;
}

.logo-main {
	fill: var(--logo-color);
}

.logo-sub {
	fill: var(--logo-sub-color);
}

div.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@keyframes fadeout {
	from {
		transform: scale(1);
		opacity: 1;
	}
	to {
		transform: scale(0);
		opacity: 0
	}
}

.fade {
	animation: fadeout 1s forwards;
}

div.search-box {
	display: block;
	width: 550px;
	height: 45px;
	margin: 20px;
	@media (max-width: 768px) {
		width: 90%;
		height: 50px;
		margin: 15px;
	}
	border: 0;
	border-radius: 114514px;
	background: var(--box-color);
	backdrop-filter: blur(12px);
	box-shadow: 0 0 12px 5px var(--box-shadow-color);
}

div.logo-block {
	display: block;
	margin: 120px 0 25px 0;
	@media (max-width: 768px) {
		margin: 75px 0 25px 0;
	}
}

div.logo-block svg {
	display: block;
	width: 220px;
	height: 220px;
}

input.search-ipt {
	height: 45px;
	width: 400px;
	@media (max-width: 768px) {
		height: 50px;
		width: 62%;
	}
	padding: 0 32px 0 32px;
	font-size: 16pt;
	color: var(--text-color);
	background: none;
	display: inline;
	border: 0;
	text-align: center;
}

input.search-ipt:focus {
	outline: none;
}

div.overlay {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: var(--overlay);
	/*	backdrop-filter: blur(5px);*/
}

button.search-btn {
	display: inline;
	border: none;
	border-radius: 114514px;
	width: 75px;
	height: 32px;
	color: var(--btn-text-color);
	font-size: 12pt;
	@media (max-width: 768px) {
		height: 40px;
		width: 17%;
		font-size: 16pt;
	}
	text-align: center;
	background: var(--ac-btn-color);
	box-shadow: 0 0 12px 5px var(--ac-btn-shadow-color);
	margin: 5px 0 0 0;
}

button.search-btn svg {
	width: 21px;
	height: 21px;
	fill: var(--btn-text-color);
	margin: 5px 0 0 0;
}

@keyframes btn-hover {
	from {
		background: var(--ac-btn-color);
		box-shadow: 0 0 12px 5px var(--ac-btn-shadow-color);
		transform: scale(1);
	}
	to {
		background: var(--ac-btn-color-l);
		box-shadow: 0 0 12px 5px var(--ac-btn-shadow-color-l);
		transform: scale(1.2);
	}
}

@keyframes btn-unhover {
	from {
		background: var(--ac-btn-color-l);
		box-shadow: 0 0 12px 5px var(--ac-btn-shadow-color-l);
		transform: scale(1.2);
	}
	to {
		background: var(--ac-btn-color);
		box-shadow: 0 0 12px 5px var(--ac-btn-shadow-color);
		transform: scale(1);
	}
}

button.search-btn:hover {
	animation: btn-hover 0.2s forwards;
	background: var(--ac-btn-color);
	box-shadow: 0 0 12px 5px var(--ac-btn-shadow-color);
}


button.search-btn:not(:hover) {
	animation: btn-unhover 0.2s forwards;
}

div#pin {
	display: flex;
	overflow-x: auto;
	white-space: nowrap;
	max-width: 45%;
	@media (max-width: 768px) {
		max-width: 95%;
	}
	min-width: 0;
	max-height: 150px;
	min-height: 0;
	margin: 20px;
	border: 0;
	border-radius: 12px;
	background: var(--box-color);
	box-shadow: 0 0 12px 5px var(--box-shadow-color);
	backdrop-filter: blur(12px);
}

div#pin .pin-item {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	justify-items: center;
	align-items: center;
	height: 140px;
	margin: 5px;
	border: 0;
	border-radius: 12px;
	width: 120px;
	background: var(--sub-box-color);
}

@keyframes up {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-12px);
	}
}

@keyframes up-o {
	from {
		transform: translateY(-12px);
	}
	to {
		transform: translateY(0);
	}
}

div#pin .pin-item:hover {
	animation: up 0.2s forwards;
	transform: translateY(-12px);
}

div#pin .pin-item:not(:hover) {
	animation: up-o 0.2s forwards;
	transform: translateY(0);
}
